@import '@angular/material/prebuilt-themes/purple-green.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	/* font-family: OpenSans; */
}

div.container {
	margin: 0px 40px;
}

.fill-remaining-space {
	/* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
	flex: 1 1 auto;
}

form.normal-form {
	margin: 10px;
}

.controles-container {
	width: 100%;
	padding: 5%;
}

.controles-container>* {
	width: 100%;
}

.add-bottom-padding {
	padding-bottom: 10px;
}

/* radio group */

mat-radio-group mat-radio-button {
	margin-left: 5px;
}

.button-row button {
	margin: 5px;
}

.mat-mdc-form-field+.mat-form-field {
	margin-left: 10px;
}

.form-row {
	margin-bottom: 20px;
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-input-wrapper {
	width: 900px !important;
}

.mat-mdc-form-field .large-field {
	width: 420px;
}

th.mat-mdc-header-cell {
	font-size: medium;
	font-weight: bold;
}

body {
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

/** Colors variables */

/** share button variables */

/** share buttons colors */

.sb-group,
.sb-button {
	display: inline-flex;
	align-items: flex-start;
}

.sb-group {
	flex-wrap: wrap;
}

.sb-button {
	margin: var(--sb-margin);
}

/** Default style */

.sb-wrapper {
	font-size: inherit;
	cursor: pointer;
	position: relative;
	outline: 0;
	min-width: 4.125em;
	height: 2.5em;
	border: none;
	border-radius: 1px;
	padding: 0;
	line-height: 2.571em;
	background-color: transparent;
	-webkit-print-color-adjust: exact;
}

.sb-wrapper .sb-icon,
.sb-wrapper .sb-text {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.sb-wrapper .sb-content {
	flex: 1;
	display: flex;
	height: 90%;
	width: 90%;
	position: relative;
}

.sb-wrapper .sb-text {
	flex: 1;
	height: 100%;
	white-space: nowrap;
	padding: 0 0.7em;
}

.sb-wrapper .sb-icon {
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 1.2em;
	min-width: 2em;
}

.sb-wrapper .sb-text {
	font-weight: bold;
}

.sb-circles-dark .sb-wrapper {
	color: #fff;
	background: transparent;
	min-width: unset;
	height: unset;
}

.sb-circles-dark .sb-wrapper.sb-facebook .sb-icon {
	background-color: #4267b2;
}

.sb-circles-dark .sb-wrapper.sb-facebook .sb-text {
	color: #4267b2;
}

.sb-circles-dark .sb-wrapper.sb-twitter .sb-icon {
	background-color: #00acee;
}

.sb-circles-dark .sb-wrapper.sb-twitter .sb-text {
	color: #00acee;
}

.sb-circles-dark .sb-wrapper.sb-google .sb-icon {
	background-color: #db4437;
}

.sb-circles-dark .sb-wrapper.sb-google .sb-text {
	color: #db4437;
}

.sb-circles-dark .sb-wrapper.sb-mix .sb-icon {
	background-color: #ff8226;
}

.sb-circles-dark .sb-wrapper.sb-mix .sb-text {
	color: #ff8226;
}

.sb-circles-dark .sb-wrapper.sb-line .sb-icon {
	background-color: #00b900;
}

.sb-circles-dark .sb-wrapper.sb-line .sb-text {
	color: #00b900;
}

.sb-circles-dark .sb-wrapper.sb-linkedin .sb-icon {
	background-color: #006fa6;
}

.sb-circles-dark .sb-wrapper.sb-linkedin .sb-text {
	color: #006fa6;
}

.sb-circles-dark .sb-wrapper.sb-pinterest .sb-icon {
	background-color: #bd081c;
}

.sb-circles-dark .sb-wrapper.sb-pinterest .sb-text {
	color: #bd081c;
}

.sb-circles-dark .sb-wrapper.sb-reddit .sb-icon {
	background-color: #ff4006;
}

.sb-circles-dark .sb-wrapper.sb-reddit .sb-text {
	color: #ff4006;
}

.sb-circles-dark .sb-wrapper.sb-tumblr .sb-icon {
	background-color: #36465d;
}

.sb-circles-dark .sb-wrapper.sb-tumblr .sb-text {
	color: #36465d;
}

.sb-circles-dark .sb-wrapper.sb-whatsapp .sb-icon {
	background-color: #25d366;
}

.sb-circles-dark .sb-wrapper.sb-whatsapp .sb-text {
	color: #25d366;
}

.sb-circles-dark .sb-wrapper.sb-messenger .sb-icon {
	background-color: #0080ff;
}

.sb-circles-dark .sb-wrapper.sb-messenger .sb-text {
	color: #0080ff;
}

.sb-circles-dark .sb-wrapper.sb-telegram .sb-icon {
	background-color: #08c;
}

.sb-circles-dark .sb-wrapper.sb-telegram .sb-text {
	color: #08c;
}

.sb-circles-dark .sb-wrapper.sb-xing .sb-icon {
	background-color: #006567;
}

.sb-circles-dark .sb-wrapper.sb-xing .sb-text {
	color: #006567;
}

.sb-circles-dark .sb-wrapper.sb-sms .sb-icon {
	background-color: #20c16c;
}

.sb-circles-dark .sb-wrapper.sb-sms .sb-text {
	color: #20c16c;
}

.sb-circles-dark .sb-wrapper.sb-email .sb-icon {
	background-color: #ff961c;
}

.sb-circles-dark .sb-wrapper.sb-email .sb-text {
	color: #ff961c;
}

.sb-circles-dark .sb-wrapper.sb-vk .sb-icon {
	background-color: #4c75a3;
}

.sb-circles-dark .sb-wrapper.sb-vk .sb-text {
	color: #4c75a3;
}

.sb-circles-dark .sb-wrapper.sb-copy .sb-icon {
	background-color: #607d8b;
}

.sb-circles-dark .sb-wrapper.sb-copy .sb-text {
	color: #607d8b;
}

.sb-circles-dark .sb-wrapper.sb-print .sb-icon {
	background-color: #765aa2;
}

.sb-circles-dark .sb-wrapper.sb-print .sb-text {
	color: #765aa2;
}

.sb-circles-dark .sb-wrapper.sb-expand .sb-icon {
	background-color: #ff6651;
}

.sb-circles-dark .sb-wrapper.sb-expand .sb-text {
	color: #ff6651;
}

.sb-circles-dark .sb-wrapper:active .sb-icon {
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.sb-circles-dark .sb-wrapper .sb-icon {
	background-color: #2e4057;
	background-color: var(--button-color) !important;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
	font-size: 1.4em;
	width: 2.15em;
	height: 2.15em;
	border-radius: 50%;
	transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sb-circles-dark .sb-wrapper .sb-text {
	color: var(--button-color) !important;
	font-size: 0.8em;
	margin-top: 5px;
	border-radius: 1em;
	width: 100%;
	height: 1.8em;
	line-height: 1.8em;
	padding: 0;
	transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sb-circles-dark .sb-wrapper .sb-content {
	align-items: center;
	flex-direction: column;
}

.modal_title {
	padding: 0 0 15px 0;
	font-size: 20px;
	font-weight: bolder;
}


.page-title h1 {
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1.5em;
	padding-bottom: 15px;
	position: relative;
	margin-left: 20px;
}

.page-title h1:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 55px;
	background-color: whitesmoke;
}

.page-title h1:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 2px;
	height: 1px;
	width: 95%;
	max-width: 255px;
	background-color: white;
}



.page-subtitle h1 {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.5em;
	padding-bottom: 10px;
	position: relative;
	margin-left: 20px;
}

.page-subtitle div {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 0.5em;
	position: relative;
	margin-left: 20px;
}

.page-subtitle h1:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 55px;
	background-color: #111;
}

.page-subtitle h1:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 2px;
	height: 1px;
	width: 95%;
	max-width: 255px;
	background-color: #333;
}










.thirteen h1 {
	position: relative;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
	width: 150px;
	text-align: center;
	margin: auto;
	white-space: nowrap;
	border: 2px solid #222;
	padding: 5px 11px 3px 11px;
}

.thirteen h1:before, .thirteen h1:after {
	background-color: #c50000;
	position: absolute;
	content: '';
	height: 7px;

	width: 7px;
	border-radius: 50%;
	bottom: 12px;
}

.thirteen h1:before {
	left: -20px;
}

.thirteen h1:after {
	right: -20px;
}


.button-container {
	display: flex;
	justify-content: space-around;
}


.mdc-data-table__row:last-child .mat-mdc-cell{
	border-bottom:1px solid var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12)) !important;
}

.mat-step-label{
    display: flex;
    width: 100%;
}

.mat-toolbar-single-row{
	height: fit-content !important;
	padding: 10px 16px !important;
}

.wraped-text{
	text-wrap: wrap;
	line-height: 1.5rem;
}

.show-proceso-toolbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}


@media  screen and (max-width:768px) {

	.flex-column-text-center{
		display: flex;
		flex-direction: column;
		text-align: center;	
	}
	
	mat-sidenav-content .mat-elevation-z8{
		height: 100%;
	}
	
	mat-sidenav-content .mat-mdc-table{
		display: flex;
		height: fit-content;
		overflow-x:scroll;
	}
	
	mat-sidenav-content .mat-mdc-header-row{
		display: flex;
		flex-direction: column;
		height: 100% !important;
	}
	
	mat-sidenav-content .mat-mdc-header-cell{
		flex: 1;
		display: flex;
		align-items: center;
		height: 200px;
	}
	
	mat-sidenav-content .mdc-data-table__content{
		display: flex;
		flex-direction: row-reverse;
	}
	
	mat-sidenav-content .mat-mdc-row{
		display: flex;
		flex-direction: column;
		height: 100% !important;
	}
	
	mat-sidenav-content .mat-mdc-cell{
		flex: 1;
		height: 100%;
	}

	mat-sidenav-content .mdc-data-table__cell, mat-sidenav-content .mdc-data-table__header-cell{
		padding: 15px 12px !important;
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: 1px solid var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
		border-left: 1px solid var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
	}
}

